@inherits LayoutComponentBase
<Layout Style="height: 100%;">
    <Header><Title Style="color: white;">Использование Microsoft Office</Title></Header>
    <Content>
        <Layout Style="height: 100%;">
            <Sider>
                <Menu Theme="@MenuTheme.Dark">
                    <MenuItem>
                        Форма
                    </MenuItem>
                </Menu>
            </Sider>
            <Content>
                @Body
            </Content>
        </Layout>
    </Content>
</Layout>

